<h1>Dobro došao/la <%= email %></h1>
<form action="/logout?_method=DELETE" method="POST">
    <button type="submit">Log out</button>
</form>
<a href="/users">Korisnici</a>
<a href="/users/add">Dodaj korisnike</a>